div.container
    form#form-filter.form-inline(method="post")
        div.form-group.col-xs-12.col-sm-6.col-lg-3
            label.col-xs-4= "Time interval"
            div.col-xs-8
            input#daterange.btn.btn-default(type="text", value= now + " - " + now, readonly, required)
        div.form-group.col-xs-12.col-sm-6.col-lg-3
            label.col-xs-4= "Node kind"
            div.col-xs-8
                select.selectpicker(name="node", multiple, required)
                    each val, key in nodeKinds
                        option(value= key)= val            
        div.form-group.col-xs-12.col-sm-6.col-lg-3
            label.col-xs-4= "User group"
            div.col-xs-8
                select.selectpicker(name="user", data-actions-box="true", data-live-search="true", multiple, required)
                    each val in userGroups
                        option(value= val)= val
        div.form-group.col-xs-12.col-sm-6.col-lg-3
            label.col-xs-4= "Results"
            div.col-xs-8
                select.selectpicker(name="node", multiple, required)
                    each val, key in resultFields
                        option(value= key)= val
        button.btn.btn-primary(type= "submit")= "Submit request"
        button.btn.btn-default(type= "reset")= "Reset"
